.git
.gitignore
README.md
.idea/
.vscode/
src/api/vendor/
src/api/.env
src/api/.env.*
src/api/storage/logs/
src/api/storage/clockwork/
src/api/storage/cache/*
!src/api/storage/cache/.gitignore
src/api/.phpunit.result.cache